# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Streamlit
.streamlit/secrets.toml

# Database
app/app.db

# OS / IDE
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Local DB
app/app.db
*.db